div#PopupEditProdContainer {
  border: 1px solid rgba(0, 0, 0, 0.249);
  border-radius: 15px;
  height: 670px;
  width: 350px;
  position: fixed;
  top: 10px;
  right: 13px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  background-color: #121621;

  
}

div#headerPopupAddProd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: 0 5px 0 10px;
  color: white;
  /* background-color: #635bff; */
}

button#fecharPopupAddProd {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 50%;
  height: 36px;
  width: 38px;
  position: absolute;
  top: 0px;
  right: 0px;
  color: rgb(255, 255, 255);


  &:active {
    cursor: pointer;
    background-color: #948eff;
  }

  @media (min-width: 438px) {
    &:hover {
      background-color: #ccc9f5;
      cursor: pointer;
  color: rgb(18, 22, 33);
    }
    &:active {
      cursor: pointer;
      background-color: #635bff;
    }
  }
}

div#prodInfoContainer {
  height: 90%;
  border: 1px solid rgba(0, 0, 0, 0.249);
  margin: 2px 10px 10px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 10px 10px 10px;
  background-color: white;
}

div#prodInfoContainer label {
  display: flex;
  flex-direction: column;
  margin: 3px 5px 3px 5px;
  font-weight: bold;
}

div#prodInfoContainer input,
select {
  margin-top: 6px;
  /* border-radius: 5px; */
  box-sizing: border-box;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.249);
  border-radius: 5px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.249); */
  outline: 0;
  height: 30px;
  padding-left: 5px;
}


div#two {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
}



div#three {
  display: flex;
  /* background-color: rgb(226, 223, 43); */
  justify-content: space-between;

}

div#three input, select, div#two input, select{
    width: 130px;
}

div#four {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(226, 43, 43); */
}

div#four button {
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 120px;
  font-weight: bold;
  font-size: 16px;
}

button#confirmAddProd {
  background-color: #635bff;
  color: white;
  &:active {
    cursor: pointer;
    background-color: #948eff;
  }

  @media (min-width: 438px) {
    &:hover {
      background-color: #ccc9f5;
      cursor: pointer;
      color: black
    }
    &:active {
      cursor: pointer;
      background-color: #635bff;
    }
  }
}

button#cancelAddProd{
    &:active {
        cursor: pointer;
        background-color: #948eff;
      }
    
      @media (min-width: 438px) {
        &:hover {
          background-color: #ccc9f5;
          cursor: pointer;
          color: black
        }
       
      }
}

div#threedotfive textarea{
  resize: none;
  height: 250px;
  margin-top: 7px;
  border: 1px solid rgba(0, 0, 0, 0.249);
  border-radius: 5px;
  padding: 5px;
  outline: 0;
  line-height: 1.5em;
}
